<!DOCTYPE html>
<html>
<head>
<title>テンプレート記事</title>
<meta http-equive="content-type" charset="utf-8">
<link rel="stylesheet" href="/css/hljs.css">
<link rel="icon" href="/img/favicon.ico">
</head>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/tomorrow-night-blue.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<body>
<p><a href="../">戻る</a>
<h1>テンプレート記事</h1>
<p> July 24, 2020
<p> テンプレートはC++を特徴付ける機能の一つだがいまいち実際に十分に活用されているのをみない. Modern C++ Design という本ではテンプレートを使った技巧的な設計を考えている.
<h2>Contents</h2>
<ul>
<li><a href="1">ポリシーを基にしたクラス・デザイン</a></li>
<li><a href="2">テクニック</a></li>
</ul>

</body>
</html>
